module.exports = {
  "extends": "airbnb-base",
  "rules": {
    "global-require": 0,
    "import/no-dynamic-require": 0, //Esto es para cargar los modelos de mongoose
    "consistent-return": 0,
    "func-names": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0
  }
};